
<div class="formGroup">
    <label for="firstname">firstname</label>
    <input type="text" name="first" id="first" [(ngModel)]="firstName">

    <label for="lastname">lastname</label>
    <input type="text" name="last" id="last" [(ngModel)]="lastName">

    <label for="lastname">email</label>
    <input type="text" name="last" id="last" [(ngModel)]="email">

    <label for="lastname">address</label>
    <input type="text" name="last" id="last" [(ngModel)]="address">

    <button type="submit" (click)="register()">register</button>

    
</div>